<h2><%= @work.title %></h2>

<%= image_tag @work.image, :class => 'feature' %>

<ul>
  <li>Year: <%= @work.year %></li>
  <li>Medium: <%= @work.medium %></li>
  <li>Style: <%= @work.style %></li>
</ul>

<div class="controls">
  <%= link_to 'Delete', @work, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
  <%= link_to 'Edit', edit_work_path(@work) %>
</div>