
<p>On this site you can see examples of various Rails helpers. For example:

  <%= link_to('Home', root_path) %>,
  <%= link_to('Numbers', numbers_path) %>,
  <%= link_to('Text', text_path) %>,
  <%= link_to('Assets', assets_path) %>,
  <%= link_to('URL', url_path) %>

</p>